.news-container { background: #335169 }
.books-container { background: #a22825 }
.music-container { background: #d69610 }

.news-logo { background: url("../img/noticias.png") }
.books-logo { background: url("../img/livros.png") }
.music-logo { background: url("../img/musica.png") }

.logo {
    height: 90px;
    width: 90px;
    background-position: center;
    background-size: 90px 90px;
}

.category-row {
    min-height: 150px;
    padding: 30px;
}

.body-container {
    margin-top : 50px;
}