.news-container { background: #335169 }
.books-container { background: #a22825 }
.music-container { background: #d69610 }

.news-logo { background: url("../img/noticias.png") }
.books-logo { background: url("../img/livros.png") }
.music-logo { background: url("../img/musica.png") }

.logo {
    height: 150px;
    width: 150px;
    background-position: center;
    background-size: 150px 150px;
    margin-left: auto;
    margin-right: auto;
}

.category-row {
    min-height: 150px;
    padding: 30px;
}

.body-container {
    margin-top : 50px;
}

.topbar {
    background: #d7d0cd;
    font-family: 'Lobster', serif;
    font-size:20px;
}

.site-name {
    font-size: 45px;
    color: #3c3c3b !important;
}

body {
    background: #d7d0cd;
}

a, a:hover {
    color: #FFFFFF;
}

.topic-page {
    color: #ffffff;
}

#forkongithub a {
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#forkongithub a:hover {
    background: #c11;
    color: #fff;
}

#forkongithub a::before, #forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width: 800px) {
    #forkongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }

    #forkongithub a {
        width: 200px;
        position: absolute;
        top: 30px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}

.about {

    padding: 30px;
    font-size: 50px;

}

.thumb {
    max-width: 150px;
}
