<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Saudade</title>

    {% include 'head.html' %}

</head>

<body>

<div class="container-fluid body-container">

    {% include 'navbar.html' %}

    {% for category in topics %}
        <div class="row {{ category }}-container category-row">
            <div class="col-md-4"><div class="{{ category }}-logo logo"></div></div>
            {% for topic in topics[category]['trending'] %}
                <div class="col-md-2">
                    <div class="col-md-6">
                        <img src="http://dummyimage.com/70x70/000/fff" alt="..." class="img-circle">
                    </div>
                    <div class="col-md-6">
                        <h4><a href="/topic/{{topic}}">{{topic}}</a></h4>
                    </div>
                </div>
            {% endfor %}
            {% for topic in topics[category]['editorial'] %}
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="http://dummyimage.com/70x70/000/fff" alt="..." class="img-circle">
                        </div>
                        <div class="col-md-6">
                            <h4><a href="/topic/{{topic}}">{{topic}}</a></h4>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="row">
        <h2 id="sobre">Sobre Nos</h2>
        <p class="lead">Imaginando que a internet é uma gigantesca e infinita linha de caminhos de ferro, que une todas as cidades do mundo à distância de um clique, o projeto pretende fazer circular a língua portuguesa, através de produtos culturais (livros e discos) e noticiosos. Se em cidades separadas por milhares de quilómetros o mesmo livro estiver a ser lido, o mesmo disco estiver a ser ouvido e num qualquer café estiverem a ser debatidas as mesmas notícias, isso é saudade, intersaudade... da cultura e dos costumes, do povo e da língua.</p>
    </div>

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
</body>
</html>
