<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Starter Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body>

<div class="container-fluid body-container">

    <!-- Fixed navbar -->
    <!--<nav class="navbar navbar-default navbar-fixed-top">-->
        <!--<div class="container">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="#">Saudade</a>-->
            <!--</div>-->
            <!--<div id="navbar" class="navbar-collapse collapse">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="active"><a href="#">Home</a></li>-->
                    <!--<li><a href="#sobre">Sobre</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Saudade</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-nav navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-default">Pesquisar</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#news">Noticias</a></li>
                    <li><a href="#books">Livros</a></li>
                    <li><a href="#music">Musica</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    {% for category in topics %}
        <div class="row {{ category }}-container category-row">
            <div class="col-md-4"><div class="{{ category }}-logo logo"></div></div>
            {% for topic in topics[category]['trending'] %}
                <div class="col-md-2">
                    <div class="col-md-6">
                        <img src="http://dummyimage.com/70x70/000/fff" alt="..." class="img-circle">
                    </div>
                    <div class="col-md-6">
                        <h4><a href="/topic/{{topic}}">{{topic}}</a></h4>
                    </div>
                </div>
            {% endfor %}
            {% for topic in topics[category]['editorial'] %}
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="http://dummyimage.com/70x70/000/fff" alt="..." class="img-circle">
                        </div>
                        <div class="col-md-6">
                            <h4><a href="/topic/{{topic}}">{{topic}}</a></h4>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="row">
        <h2 id="sobre">Sobre Nos</h2>
        <p class="lead">Imaginando que a internet é uma gigantesca e infinita linha de caminhos de ferro, que une todas as cidades do mundo à distância de um clique, o projeto pretende fazer circular a língua portuguesa, através de produtos culturais (livros e discos) e noticiosos. Se em cidades separadas por milhares de quilómetros o mesmo livro estiver a ser lido, o mesmo disco estiver a ser ouvido e num qualquer café estiverem a ser debatidas as mesmas notícias, isso é saudade, intersaudade... da cultura e dos costumes, do povo e da língua.</p>
    </div>

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
</body>
</html>
