<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Clube da Saudade</title>

    {% include 'head.html' %}

</head>

<body>
{% include 'fork.html' %}

<div class="container-fluid body-container">

    {% include 'navbar.html' %}

    {% for category in topics %}
        <div class="row {{ category }}-container category-row" id="{{ category }}">
            <div class="col-xs-12 col-md-4 text-center"><div class="{{ category }}-logo logo"></div></div>
            {% for topic in topics[category]['trending'] %}
                <div class="col-xs-6 col-md-2 text-center">
                    <img src="http://dummyimage.com/70x70/000/fff" alt="..." class="img-circle">
                    <h4><a href="/discussion/{{ category }}/{{topic}}">{{topic}}</a></h4>
                </div>
            {% endfor %}
            {% for topic in topics[category]['editorial'] %}
                <div class="col-xs-6 col-md-2  text-center">
                    <img src="http://dummyimage.com/70x70/000/fff" alt="..." class="img-circle">
                    <h4><a href="/discussion/{{ category }}/{{topic}}">{{topic}}</a></h4>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 id="about" class="about">{% if lang == 'en' %}About{% else %}Sobre{% endif %}</h2>
            <p class="lead">
                {% if lang == 'en' %}
                Imagine the world as it is today, with internet connections from one city to another, in many different countries, creating a network in which you can stand “side by side” with someone who is thousand kilometres away from you. Imagine the books you like, the authors you read and the music that makes you dream. Imagine the cultural habits that you have embraced and grown up with, that makes you what you are and how you see the world.<br /><br />Now… imagine that all of that disappears one day, and that you live in a different country, far away from your own, where people have different habits, different ways of thinking and doing things. How will you live? What will you think? Will you miss the days where you can be with your friends and family? Do you feel the heartache growing on your chest? Of course you do! That is Saudade.
                {% else %}
                Imaginando que a internet é uma gigantesca e infinita linha de caminhos de ferro, que une todas as cidades do mundo à distância de um clique, o projeto pretende fazer circular a língua portuguesa, através de produtos culturais (livros e discos) e noticiosos. Se em cidades separadas por milhares de quilómetros o mesmo livro estiver a ser lido, o mesmo disco estiver a ser ouvido e num qualquer café estiverem a ser debatidas as mesmas notícias, isso é saudade... da cultura e dos costumes, do povo e da língua.
                {% endif %}
            </p>
        </div>
    </div>

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
</body>
</html>
