<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top topbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand site-name" href="/">Clube da Saudade</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-nav navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <button type="submit" class="btn btn-default">Pesquisar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#news">{% if lang == 'en' %}News{% else %}Noticias{% endif %}</a></li>
                <li><a href="#books">{% if lang == 'en' %}Books{% else %}Livros{% endif %}</a></li>
                <li><a href="#music">{% if lang == 'en' %}Music{% else %}Musica{% endif %}</a></li>
                <li><a href="#about">{% if lang == 'en' %}About{% else %}Sobre{% endif %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/?lang=en"><img src="{{ url_for('static', filename='img/flag_icon_uk.gif') }}" /></a></li>
                <li><a href="/"><img src="{{ url_for('static', filename='img/flag_icon_pt.gif') }}" /></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>