<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Clube da Saudade - {{ topic }}</title>

    {% include 'head.html' %}

</head>

<body class="{{category}}-container">
{% include 'fork.html' %}

<div class="container-fluid body-container topic-page">

    {% include 'navbar.html' %}

    <div class="row text-center">
        <h1 class="topic-title">{{ topic }}</h1>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <h2>Google Hangouts</h2>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/Sc8k1QgDpZU" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">O que se diz no Twitter</h2>
            {% for comment in community_comments %}
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{comment.picture}}" />
                    </div>
                    <div class="col-md-10">
                        <span>{{ comment.text }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h2 class="text-center">O que se diz no Facebook</h2>
            {% for comment in community_comments %}
            <div class="row">
                <div class="col-md-2">
                    <img src="{{comment.picture}}" />
                </div>
                <div class="col-md-10">
                    <span>{{ comment.text }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row in-the-news">
        <div class="col-md-12 text-center">
            <h2>O que se diz nas noticias</h2>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <img src="http://expresso.sapo.pt/imv/2/265/660/gettyimages166035909-e25d.jpg" class="thumb news-thumb img-rounded"/>
            </div>
            <div class="col-md-8">
                <h3><a href="http://expresso.sapo.pt/aumenta-o-risco-de-um-incumprimento-na-grecia-em-marco=f912757#ixzz3SxOWMgJ3">Aumenta o risco de um incumprimento na Grécia em março</a></h3>
                <p class="lead">Bolsa de Atenas está a cair pelo terceiro dia consecutivo. Juros da dívida grega continuam a subir, apesar do acordo ter passado esta manhã em Berlim. FMI e grupo de trabalho do Eurogrupo preocupados com pagamentos de dívida em março.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <img src="http://expresso.sapo.pt/imv/2/265/700/pol-18908381-ce25.jpg" class="thumb news-thumb img-rounded"/>
            </div>
            <div class="col-md-8">
                <h3><a href="http://expresso.sapo.pt/confrontos-marcaram-a-primeira-manifestacao-anti-governo-em-atenas=f912662#ixzz3SxT6Oj6Z">Confrontos marcaram a primeira manifestação anti-Governo em Atenas</a></h3>
                <p class="lead">Centenas de pessoas saíram à rua da capital grega para se manifestarem contra o acordo em vias de ser aprovado pela Europa. A marcha terminou com agressões e vários desacatos.</p>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
</body>
</html>
