<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Saudade - {{ topic }}</title>

    {% include 'head.html' %}

</head>

<body>

<div class="container-fluid body-container">

    {% include 'navbar.html' %}

    <h1>{{ topic }}</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Google Hangouts</h2>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/Sc8k1QgDpZU" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h2>Tweets</h2>
            {% for comment in community_comments %}
                <div class="row">
                    <span>{{ comment.text }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Em Noticias</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="">Bla Bla</p>
            </div>
            <div class="col-md-12">
                <p class="">Bla Bla</p>
            </div>
            <div class="col-md-12">
                <p class="">Bla Bla</p>
            </div>
            <div class="col-md-12">
                <p class="">Bla Bla</p>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
</body>
</html>
